* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background-color: black; */
    color: black;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    height: auto;
}

.invert {
    filter: invert(1);
}

.bg-black {
    background-color: black;
    color: white;

}

.bg-grey {
    background-color: grey;
}

.library {
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

.create_new_playlist {
    background-color: #1F1F1F;
    display: flex;
    border-radius: 10px;
    padding: 15px;
}

.leftfinal {
    background-color: #1F1F1F;
    display: grid;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    grid-template-columns: 50px 80px 80px;

}

.linkbox {
    display: flex;
    font-size: 10px;
    gap: 20px;
}

.button_leftfinal {
    height: 25px;
    width: 120px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    font-size: 12px;
    border: 1px solid white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black
}

.header * {
    padding: 8px;
}

.spotifyplaylist {
    padding: 10px;
    height: auto;
    width: auto;
}



.cardcontainer {
    height: auto;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 15px;
    margin-top: 25px;
    max-height: 70vh;
    overflow-y: scroll;
}

.card img {
    margin-top: auto;
    height: auto;
    width: 100px;
    border-radius: 12px;
    object-fit: cover;
}

.card {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    height: 180px;
    width: 105px;
    overflow: hidden;
    background-color: #1F1F1F;
    position: relative;
    border-radius: 10px;

}

.play {
    width: 15px;
    height: 15px;
    background-color: #0f0;
    border-radius: 100%;
    /* border: 2px solid black; */
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 70px;

}

.card p {
    font-size: 10px;
    padding: 10px;
}

.signupbtn {
    font-weight: bolder;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #1F1F1F;
}

.signupbtn:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px green;
    font-size: 15px;
    color: rgb(56, 243, 56);

    /* height: 12px; */
    /* width: 12px; */
}

.loginbtn {
    background-color: #1F1F1F;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.loginbtn:hover {
    cursor: pointer;
    box-shadow: 2px 5px 10px green;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(56, 243, 56);
    /* height: 12px; */
    /* width: 12px; */
}



.player .seekbar {
    border: 1px solid red;
    margin-top: 106px;
    height: 20px;
    width: 1930px;
}

.songlist {
    margin-top: 20px 20px;
    height: 200px;
    overflow: auto;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    list-style: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    padding: 12px 0;
    margin: 12px 0;
    border-radius: 5px;
}

.songlist .info {
    font-size: 13px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    border: 2px solid yellow;
    width: 100%;
    display: flex;
    margin-right: 220px;
}

.controls {
    border: 2px solid rgb(45, 6, 6);
    height: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    margin-left: 152px;
}

.player {
    height: 125px;
    width: 68vw;
    padding: 15px;
    border: 1px solid white;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* gap: 10px; */
    margin-left: -10px;
    /* bottom: 10px; */
    /* filter: invert(1); */
    background-color: #073b80;
    border: 2px solid red;
    border-radius: 15px;

}